<p id="notice"><%= notice %></p>

<h1>Listing Duties</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Party Size</th>
      <th>Min Level</th>
      <th>Min Item Level</th>
      <th>Time limit</th>
      <th>Category</th>
      <th>Sync level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @duties.each do |duty| %>
      <tr>
        <td><%= duty.name %></td>
        <td><%= duty.party_size %></td>
        <td><%= duty.min_level %></td>
        <td><%= duty.min_item_level %></td>
        <td><%= duty.time_limit %></td>
        <td><%= duty.category %></td>
        <td><%= duty.sync_level %></td>
        <td><%= link_to 'Show', duty, class: 'button tiny radius' %></td>
        <td><%= link_to 'Edit', edit_duty_path(duty), class: 'button tiny radius' %></td>
        <td><%= link_to 'Destroy', duty, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button tiny radius' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Duty', new_duty_path, class: 'button success radius small' %>
