<p id="notice"><%= notice %></p>

<h1>Listing Duties</h1>

<%# TODO: this should be converted to divs and stacked for mobile %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Level</th>
      <th>iLvl</th>
      <th>Time</th>
      <th>Sync</th>
    </tr>
  </thead>

  <tbody>
    <% @duties.each do |duty| %>
      <tr>
        <td><%= link_to duty.name, duty %></td>
        <td><%= duty.party_size %></td>
        <td><%= duty.min_level %></td>
        <td><%= duty.min_item_level %></td>
        <td><%= duty.time_limit %></td>
        <td><%= duty.sync_level %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Duty', new_duty_path, class: 'button success radius small' %>
