<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">DutyFinder.Info</a></h1>
    </li>

    <li class="toggle-topbar">
      <a href="#"><span>Menu</span></a>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li class="hide-for-medium"><%= link_to 'Dungeons', duties_path(category: 'Dungeons') %></li>
      <li class="hide-for-medium"><%= link_to 'Raids', duties_path(category: 'Raids') %></li>
      <li class="hide-for-medium"><%= link_to 'Guildhests', duties_path(category: 'Guildhests') %></li>
      <li class="hide-for-medium"><%= link_to 'Trials', duties_path(category: 'Trials') %></li>
      <li class="hide-for-medium"><%= link_to 'PvP', duties_path(category: 'PvP') %></li>
      <li class="has-dropdown show-for-medium">
        <a href="#">Duty Types</a>
        <ul class="dropdown">
          <li><%= link_to 'Dungeons', duties_path(category: 'Dungeons') %></li>
          <li><%= link_to 'Raids', duties_path(category: 'Raids') %></li>
          <li><%= link_to 'Guildhests', duties_path(category: 'Guildhests') %></li>
          <li><%= link_to 'Trials', duties_path(category: 'Trials') %></li>
          <li><%= link_to 'PvP', duties_path(category: 'PvP') %></li>
        </ul>
      </li>
      <li class="has-form">
        <div class="row collapse">
          <div class="small-8 columns">
            <input type="text" placeholder="Stuff" name="some_name" value="">
          </div>
          <div class="small-4 columns">
            <a href="#" class="alert button expand">Search</a>
          </div>
        </div>
      </li>
    </ul>
  </section>
</nav>
